{% extends "base.html" %}

{% block title %}Hacker News Local - Top Stories{% endblock %}

{% block content %}
    <ul class="news-list">
        {% for item in news_items %}
        <li class="news-item">
            <p class="news-title">
                <strong>{{ loop.index }}.</strong>
                <a href="{{ item['url'] }}" target="_blank">{{ item['title'] }}</a> | <a href="{{ url_for('show', id=item['id']) }}">show</a>
            </p>
            <p class="news-details">
                Score {{ item['score'] }} | Posted by <a href="https://news.ycombinator.com/submitted?id={{ item['by'] }}" target="_blank">{{ item['by'] }}</a> |
                Story ID: <a href="https://news.ycombinator.com/item?id={{ item['id'] }}" target="_blank">{{ item['id'] }}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
